<!DOCTYPE html>
<html lang="en">
<head>
    {{> links}}
</head>
<body>
   {{>navbar}}
   <!--Main Header-->
   <div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md-6 md-12 main_header_right item-align-center">
                    <figure>
                        <img class="img-fluid" src="img/img.jpg" alt="Abid_img" title="Abid">
                    </figure>
                </div>

                <div class="col-md-6 md-12 main_header_left">
                    <p>welcome to My Bio</p>
                    <h1>My Self <span>Mohd Abid Khan </span>I'm Developer And Also A Student</h1>
                    <a href="https://www.linkedin.com/in/mohd-abid-khan-914671229"><button>About Me</button></a>
                </div> 
            </div>
            </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>