<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
</head>
<body>
   {{>navbar}}
   <!--Main Header-->
                <div class="col-md-12 md-12 main_header_left item-align-center">
                    <img class="img-fluid" src="img/error.jpg" alt="error">
                    <p style="font-size: 2rem;font-weight:550;">page not found</p>
                    <a href="/"><button>Back</button></a><br><br>
                </div> 
            </div>
            </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>